ion-toolbar {
	--background: var(--tsw-color-primary);
	--color: var(--tsw-color-primary-contrast);
}

ion-back-button {
	--color: var(--tsw-color-primary-contrast);
}

section {
	width: 100%;
	background-color: var(--tsw-color-primary-tint);
	padding: var(--ion-padding, 8px);
	color: var(--ion-color-dark-contrast);
	min-height: 92px;
}

h1 {
	padding-left: var(--ionic-padding-left, 16px);
	padding-right: var(--ionic-padding-right, 16px);
}

span {
	display: flex;
	flex-direction: column;
	padding: var(--ionic-padding, 16px);
	padding-top: 0;
}
