swiper-container {
  height: 100%;
	position: relative;
}

swiper-slide {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  box-sizing: border-box;

  color: var(--tsw-color-primary-contrast);
	background-color: var(--tsw-color-primary);

  img,
	p,
	h3,
	ng-lottie{
		z-index: 1;
	}
}

swiper-slide::after {
	content: "";
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.4;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
}

ion-button {
	--color: var(--tsw-color-tertiary);
	--color-activated: var(--tsw-color-tertiary-tint);
	--background: var(--tsw-color-primary-contrast);
	--background-activated: var(--tsw-color-primary-contrast);
	--border-color: var(--tsw-color-primary-contrast);
	height: 88px;
	margin: 0;
	position: fixed;
	bottom: 0;
	width: 100vw;
	z-index: 2;
}

#onboarding {
	&--start {
		&::after {
			background-image: url('../../assets/images/portrait-4.jpg');
		}
	}

	&--calendar {
		&::after {
			background-image: url('../../assets/images/portrait-1.jpg');
		}
	}

	&--notifications {
		&::after {
			background-image: url('../../assets/images/portrait-3.jpg');
		}
	}
}
