.tsw-post--title {
	&--container {
		position: relative;

		app-responsive-image {
			height: 35vh;
		}

		ion-buttons {
			position: absolute;
			padding-top: constant(safe-area-inset-top);
			padding-top: env(safe-area-inset-top);
			padding-left: var(--ion-padding-start, 16px);
		}

		ion-button {
			background-color: var(--ion-color-primary-contrast);
		}
	}

	&--header {
		display: flex;
		position: absolute;
		bottom: 8px;
		width: 100%;
		margin: 0 auto;
		text-align: left;
		background-color: var(--ion-color-primary-contrast);
		opacity: 90%;
	}
}

.tsw-post--content--container {
	div {
		display: flex;
		flex-direction: column;
		padding: var(--ionic-padding, 16px);
		padding-top: 0;
	}
}

ion-text {
	color: var(--tsw-color-primary);
}

ion-icon {
	color: var(--tsw-color-primary);
}

ion-footer {
	ion-fab-button {
		--background: var(--tsw-color-primary);
		--background-activated: var(--tsw-color-primary-tint);
		--ripple-color: var(--tsw-color-primary-tint);
		--color: var(--tsw-color-primary-contrast);

		ion-icon {
			color: var(--tsw-color-primary-contrast);
		}
	}
}
