ion-toolbar {
	--background: var(--tsw-color-primary);
	--color: var(--tsw-color-primary-contrast);
}

ion-button {
	--color: var(--tsw-color-primary-contrast) !important;
	--color-activated: var(--tsw-color-primary-tint) !important;
}

ion-item {
	--min-height: 50px;
}

.faqs-footer {
	ion-button {
		--background: var(--tsw-color-tertiary);
		--background-activated: var(--tsw-color-tertiary-tint);
		--color: var(--tsw-color-primary-contrast);
		--color-activated: var(--tsw-color-primary-contrast) !important;
	}
}
