.tsw-event--title {
	&--container {
		app-responsive-image {
			height: 35vh;
		}

		ion-buttons {
			position: absolute;
			padding-top: constant(safe-area-inset-top);
			padding-top: env(safe-area-inset-top);
			padding-left: var(--ion-padding-start, 16px);
		}

		ion-button {
			background-color: var(--ion-color-primary-contrast);
		}
	}

	&--header {
		display: flex;
		position: relative;
		top: -16px;
		width: 90%;
		margin: 0 auto;
		text-align: center;
		background-color: var(--ion-color-primary-contrast);
		box-shadow: 0 0 15px -2px rgba(0, 0, 0, 0.40);
	}
}

.tsw-event--about--container {
	padding-left: var(--ion-padding-start, 16px);
	padding-right: var(--ion-padding-end, 16px);
}

.tsw-event--map--container {
	h3 {
		padding-left: var(--ion-padding-start, 16px);
		padding-right: var(--ion-padding-end, 16px);
	}
}

ion-text {
	color: var(--tsw-color-primary);
}

ion-icon {
	color: var(--tsw-color-primary);
}
