// http://ionicframework.com/docs/theming/
@import '@ionic/angular/css/core.css';
@import '@ionic/angular/css/normalize.css';
@import '@ionic/angular/css/structure.css';
@import '@ionic/angular/css/typography.css';
@import '@ionic/angular/css/display.css';
@import '@ionic/angular/css/padding.css';
@import '@ionic/angular/css/float-elements.css';
@import '@ionic/angular/css/text-alignment.css';
@import '@ionic/angular/css/text-transformation.css';
@import '@ionic/angular/css/flex-utils.css';

@import 'leaflet/dist/leaflet.css';


/**
 * Common Stories, Events listings pages
 */

.posts-listing {
	ion-card-title {
		color: var(--ion-color-dark-contrast);
		font-weight: bold;
	}

	ion-card {
		ion-img {
			height: 25vh;
			width: 100%;
			overflow: hidden;
			object-fit: cover;
		}

		section {
			position: absolute;
			width: 100%;
			bottom: 16px;
			padding: var(--ion-padding, 8px);
			background-color: rgba(34, 34, 34, .65);
			color: var(--ion-color-dark-contrast);

			.inner-container {
				padding-top: 8px;
			}

			.post-date {
				padding-top: 8px;
				padding-bottom: 8px;
			}
		}
	}
}

.posts-loading {
	ion-thumbnail {
		width: 100%;
		height: 25vh;
	}
}

.posts-empty {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: var(--ion-padding, 8px);

	&--inner {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	img {
		opacity: 0.8;
		width: 100%;
		height: auto;
	}

	h3 {
		opacity: 0.6;
		margin: 0 auto;
		color: var(--tsw-color-primary);
	}
}

ion-toolbar {
	--background: var(--tsw-color-primary);
	--color: var(--tsw-color-primary-contrast);
}

ion-item-divider {
	--background: var(--tsw-color-primary-tint);
	--color: var(--tsw-color-primary-contrast);
}

.background-image-base,
%background-image-base {
	background-repeat: no-repeat;
	background-position: center center;
}

.placeholder-image {
	@extend %background-image-base;

	background-color: var(--tsw-color-primary-tint);
	background-image: url('assets/images/placeholder.svg');
	background-size: 25%;
}
