ion-toolbar {
	--background: var(--tsw-color-primary);
	--color: var(--tsw-color-primary-contrast);
}

ion-button {
	--color: var(--tsw-color-primary-contrast) !important;
	--color-activated: var(--tsw-color-primary-tint) !important;
}

ion-footer {
	border: none;

	ion-list {
		padding: 0;
		margin: 0;
		border: none;
	}

	ion-item {
		--padding-end: var(--ion-padding-end, 16px);
		--padding-start: var(--ion-padding-start, 16px);
		--padding-top: 0;
		--border-style: none;
	}

	ion-item:last-of-type {
		--padding-top: 0;
		--padding-bottom: var(--ion-safe-area-bottom);
	}

	ion-label {
		font-size: .75rem;
	}

	img {
		margin: 0 auto;
		max-height: 20vh;
		max-width: 60vw;
		display: block;
		object-position: 50% 50%;
		object-fit: contain;
	}
}
